{% extends "OpenBench/base.html" %}

{% load mytags %}
{% load static %}

{% block scripts %}
    <script src="{% static 'copy_text.js' %}?{{ static_version }}"></script>
{% endblock %}

{% block content %}

    {% if pending %}
        <div class="workload-heading">
            Pending
        </div>
        
        <table class="test-list stripes hoverable">
            {% for test in pending %}
                <tr>
                    {% include "OpenBench/Blocks/testsummary.html" %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if awaiting %}
        <div class="workload-heading">
            Awaiting Artifacts
        </div>

        <table class="test-list stripes hoverable">
            {% for test in awaiting %}
                <tr>
                    {% include "OpenBench/Blocks/testsummary.html" %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if active %}
        <table class="test-list stripes hoverable" style="margin-bottom: 40px;">
            {% for test in active %}
                {% with prev_test=active|previous:forloop.counter0 %}
                    {% if prev_test and prev_test.priority != test.priority %}
                        <tr class="table-spacer-small"><th colspan='6'></th></tr>
                        <tr class="table-spacer-small"><th colspan='6'></th></tr>
                    {% endif %}
                {% endwith %}

                <tr>
                    {% include "OpenBench/Blocks/testsummary.html" %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <div id="history-section">
        
        <div class="workload-heading">
            Test History 
            <span style="color: var(--color-font2); margin-left: 10px; font-size: 0.7em; opacity: 0.7;">
                [{{completed_count}}]
            </span>
        </div>

        <div id="test-history">
            {% for test in completed %}
                {% include "OpenBench/Blocks/historyentry.html" %}
            {% endfor %}
        </div>

        {% include "OpenBench/Blocks/pagebrowser.html" %}
    </div>

{% endblock %}