{% extends "OpenBench/base.html" %}

{% load mytags %}
{% load static %}

{% block scripts %}
    <script src="{% static 'copy_text.js' %}?{{ static_version }}"></script>
{% endblock %}

{% block content %}

    {% if pending %}
        <div class="workload-heading">
            Pending
        </div>
        
        <div class="test-grid">
            {% for test in pending %}
                {% include "OpenBench/Blocks/testsummary.html" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if awaiting %}
        <div class="workload-heading">
            Awaiting Artifacts
        </div>

        <div class="test-grid">
            {% for test in awaiting %}
                {% include "OpenBench/Blocks/testsummary.html" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if active %}
        <div class="test-grid" style="margin-bottom: 40px;">
            {% for test in active %}
                
                {% include "OpenBench/Blocks/testsummary.html" %}
                
            {% endfor %}
        </div>
    {% endif %}

    <div id="history-section">
        <div class="workload-heading">
            Test History 
            <span style="color: var(--color-font2); margin-left: 10px; font-size: 0.7em; opacity: 0.7;">
                [{{completed_count}}]
            </span>
        </div>

        <div id="test-history">
            {% for test in completed %}
                {% include "OpenBench/Blocks/historyentry.html" %}
            {% endfor %}
        </div>

        {% include "OpenBench/Blocks/pagebrowser.html" %}
    </div>

{% endblock %}